/* CSS for individual product display */
    .prod-name {
        font-weight: bold;
        font-size: 20px;
        color: #3D928F;
        margin-top: 10px;
        padding-bottom: 0px;
    }

    .product-boarder {
        border-style: solid;
        border-width: 1px;
        padding: 10px;
        margin-bottom: 12px;
        margin-top: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }

    .prod-price {
        font-size: 18px;
        color: #3D928F;
        font-weight: bold;

    }

    a:link, a:visited {
        text-decoration: none;
    }

     .prod-price {
        color:red;
    }
